<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../pdf-resources/css/facturaPDFStyles.css">
</head>
<body>
<div class="container">
    <div class="column">
        <div class="header">
            <img src="../pdf-resources/images/logo.png" alt="Logo de la empresa" class="logo">
        </div>
        <div class="invoice-info">
            <p>Importadora Cia. Ltda</p>
            <p>Dirección: Dirección de la empresa</p>
            <p>RUC: 0190368068001</p>
        </div>
    </div>
    <div class="column">
        <div class="company-info">
            <p style="font-weight: bold">RUC: 0190368068001</p>
            <p>FACTURA</p>
            <p>No: 001-101-000100151</p>
            <p>NUMERO DE AUTORIZACION</p>
            <p style="text-align: start">256546546465468465468465464654654654</p>
            <p>FECHA DE AUTORIZACION</p>
            <p>AMBIENTE</p>
            <p>EMISION</p>
            <p>CLAVE DE ACCESO </p>
            <p>35126+546+26+5626+5626+52</p>
            <p>CLAVE DE ACCESO </p>
            <p>35126+546+26+5626+5626+52</p>
        </div>
    </div>
</div>
</body>
</html>
</html>